/*
Proper Simple Cascading Style Sheets (pscss.css)

PSCSS is designed to make it simple to get started with a website. It
provides a really basic set of styles that will stop you from writing
some of the simple stuff over and over. It aims to promote a more
portable way of thinking about your CSS, a more responsive way of
thinking, and above all: less code.

Written for @geniusdivision by @craigburgess.


--
Table of Contents
--
$RESET: One reset to rule them all.
$TYPOGRAPHY: Baseline grid, text styles.
$HELPERS: Helpers. Includes labels, clearfix, icons.
$GRID: The grid. Nuff said.
$OBJECTS: OOCSS objects.
$FORMS: Basic form styling to make stuff look nice.
$BUTTONS: Basic button styling.
$TABLES: Basic table styling.
$THEMES: Import your theme.
--*/

/*****************************************
$RESET
******************************************/

*
{
	padding: 0;
	margin: 0;
}

/*****************************************
$TYPOGRAPHY: Baseline grid, text styles.
******************************************/

/* DEFAULT FONT SETTINGS */

html{
    font:#{($base-font-size/16px)*1em}/#{$line-height-ratio} $default-font-family;
    overflow-y:scroll;
    min-height:100%;
}

p,
blockquote,
q,
pre,
address,
hr,
code,
samp,
dl,
ol,
ul,
form,
table,
fieldset,
menu,
img 
{
	@include font-size($base-font-size)
}

/* TYPOGRAPHY */

h1,
h2,
h3,
h4,
h5,
h6 
{
	font-family: $default-font-family;
}

h1,.alpha
{
    @include font-size($h1-size);
}

h2,.beta
{
    @include font-size($h2-size);
}

h3,.gamma
{
    @include font-size($h3-size);
}

h4,.delta
{
    @include font-size($h4-size);
}

h5,.epsilon
{
    @include font-size($h5-size);
}

h6,.zeta
{
    @include font-size($h6-size);
}

p, 
ul, 
blockquote, 
pre, 
td, 
th, 
label 
{
	@include font-size($base-font-size);
	margin-bottom: $base-spacing-unit;
}

small, 
p.small 
{
	margin: 0; 
	font-size: 0.875em; 
	line-height: 1.7142857142857142857142857142857em; 
	margin-bottom: 1.7142857142857142857142857142857em; /* 14px / 24px */
}

.giga
{
    @include font-size($giga-size);
}

.mega
{
    @include font-size($mega-size);
}

.kilo
{
    @include font-size($kilo-size);
}

.lede,
.lead
{
    @include font-size($base-font-size * 1.125);
}

/*****************************************
$HELPERS: Helpers. Includes labels, clearfix, icons.
******************************************/

.l-float-right
{
	float: right !important;
}


.l-float-left
{
	float: left !important;
}

.l-align-right
{
	text-align: right !important;
}

.l-align-left
{
	text-align: left !important;
}


/* nicolasgallagher.com/micro-clearfix-hack */

.cf
{
    zoom:1;
    
    &:before,
    &:after{
        content:" ";
        display:table;
    }
    
    &:after{
        clear:both;
    }
}

/*****************************************
$GRID: The grid. Nuff said.
******************************************/

.container
{
	@if $responsive == yes {
		width: 80%;
	} @else {
		width: $container-width;
	}
	margin: 0 auto;
}

.gw,
.grid-wrapper{
    /**
     * Negative margin to negate the padding on the first grid child. 
     */
    margin-left:-$base-spacing-unit;
    /**
     * The following declarations allow us to use the `.gw` class on lists.
     */
    list-style:none;
    margin-bottom:0;
    @extend .cf;
}

	.gw > .gw
	{
		margin-left: 0;
	}

.g
{
	float: left;
	padding-left: $base-spacing-unit;
	webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}

.one-whole
{
	width: 100%;
}

.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths
{
	width: 50%;
}

.one-third,
.two-sixths 
{
	width: 33.333%;
}

.two-thirds,
.four-sixths
{
	width: 66.666%;
}

.one-quarter,
.two-eighths
{
	width: 25%;
}

.three-quarters,
.six-eighths
{
	width: 75%;
}

.one-fifth,
.two-tenths,
.four-tenths
{
	width: 20%;
}

.two-fifths
{
	width: 40%;
}

.three-fifths,
.six-tenths
{
	width: 60%;
}

.four-fifths,
.eight-tenths
{
	width: 80%;
}

.one-sixth
{
	width: 16.666%;
}

.five-sixths
{
	width: 83.333%;
}

.one-eighth
{
	width: 12.5%;
}

.three-eighths
{
	width: 37.5%;
}

.five-eighths
{
	width: 62.5%;
}

.seven-eighths
{
	width: 87.5%;
}

.one-tenth
{
	width: 10%;
}

.three-tenths
{
	width: 30%;
}

.seven-tenths
{
	width: 70%;
}

.nine-tenths
{
	width: 90%;
}

/*****************************************
$OBJECTS: OOCSS objects.
******************************************/

.island
{
	padding: 1em;
}


/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 * E.g.:
 * 
   <div class="media">
       <img src="http://placekitten.com/200/300" alt="" class"media-img">
       <p class="media-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 * 
 * Demo: jsfiddle.net/inuitcss/cf4Qs
 * 
 */
.media
{
    display:block;
    @extend .cf;
}
    .media-img
    {
        float:left;
        margin-right:$base-spacing-unit;
    }
    /**
     * Reversed image location (right instead of left).
     */
    .media-img-rev
    {
        float:right;
        margin-left:$base-spacing-unit;
    }
    
        .media-img img,
        .media-img-rev img
        {
            display:block;
        }
    
    .media-body
    {
        overflow:hidden;
    }
        .media-body,
        .media-body > :last-child
        {
            margin-bottom:0;
        }
    
    
    /**
     * `.img`s in `.islet`s need an appropriately sized margin.
     */
    .islet .media-img
    {
        margin-right:$half-spacing-unit;
    }
    .islet .media-img-rev
    {
        margin-left:$half-spacing-unit;
    }


.nav
{
	list-style:none;
	margin-left:0;
}

	.nav>li,
	.nav>li>a
	{
		display:inline-block;
		*display:inline;
		zoom:1;
	}

/*****************************************
$BUTTONS: Basic button styling.
******************************************/

.btn
{
	display: inline-block;
	padding: .5em;
}

	.btn-small
	{
		padding: .1em .3em;
	}

	.btn-large
	{
		font-size: 2em;
		padding: .3em 1em;
	}

/*****************************************
$TABLES: Basic table styling.
******************************************/

/*****************************************
$THEMES: Import your theme. Theme imported from root.
******************************************/