// Layout

$responsive: no;
$container-width: 960px;

// Typography

$default-font-family: Helvetica, Arial, sans-serif;

$base-font-size:    16px;
$base-line-height:  24px;

$base-spacing-unit: $base-line-height;
$half-spacing-unit: $base-spacing-unit / 2;
$line-height-ratio: $base-line-height / $base-font-size;

$giga-size:         96px;
$mega-size:         72px;
$kilo-size:         48px;

$h1-size:           36px; // .alpha
$h2-size:           30px; // .beta
$h3-size:           25px; // .gamma
$h4-size:           20px; // .delta
$h5-size:           16px; // .epsilon
$h6-size:           14px; // .zeta

$milli-size:        12px;
$micro-size:        10px;