/*------------------------------------*\
	$ADMIN STYLES
\*------------------------------------*/






/*------------------------------------*\
	$BASIC MIXINS
\*------------------------------------*/
@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

@mixin keyframe ($animation-name){
    @-webkit-keyframes $animation-name{
        @content;
    }

    @-moz-keyframes $animation-name{
        @content;
    }

    @-ms-keyframes $animation-name{
        @content;
    }

    @-o-keyframes $animation-name{
        @content;
    }

    @keyframes $animation-name{
        @content;
    }
}





/*------------------------------------*\
	$GENERAL STYLES
\*------------------------------------*/
body {
	background: #9F1C21 !important;
}

#login {
	opacity: 0;
	@include vendor(animation, fade 2s);
	@include vendor(animation-fill-mode, forwards);
	form {
		padding-bottom: 25px;
		margin-left: 0px;
		overflow: hidden;
		box-shadow: none;
	}
	h1 {
		a {
			background: url('../images/admin/login-logo.png') no-repeat;
			margin-left: 53px;
			width: 266px;
		}
	}
	.message, #login_error {
		margin-left: 0px;
	    background-color: #8D1217;
	    border-color: #6D090D;
	    color: #FFFFFF;
	    a {
	    	color: #fff;
	    	text-decoration: none;
	    	border-bottom: 1px dotted #9f1d21;
	    	&:hover {
	    		border: none;
	    	}
	    }
	}
	.forgetmenot {
		display: none;
	}
	.button-primary {
		padding: 5px 10px;

		width: 100%;
		
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		
		background-color: #fcfcfc;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f7f7f7));
		background-image: -webkit-linear-gradient(top, #fcfcfc, #f7f7f7);
		background-image: -moz-linear-gradient(top, #fcfcfc, #f7f7f7);
		background-image: -o-linear-gradient(top, #fcfcfc, #f7f7f7);
		background-image: linear-gradient(to bottom, #fcfcfc, #f7f7f7);
		
		border: 1px solid #e0e0e0;
		color: #8a8a8a;
		text-shadow: none;
		
		&:hover {
			background-color: #f7f7f7;
			background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#fcfcfc));
			background-image: -webkit-linear-gradient(top, #f7f7f7, #fcfcfc);
			background-image: -moz-linear-gradient(top, #f7f7f7, #fcfcfc);
			background-image: -o-linear-gradient(top, #f7f7f7, #fcfcfc);
			background-image: linear-gradient(to bottom, #f7f7f7, #fcfcfc);
		}
		&:active {
			@include vendor(box-shadow, inset 0px 0px 5px rgba(0,0,0,.1));
		}
	}
	#nav {
		text-align:center;
	}
	#nav a, #backtoblog {
		display: none;
	}
	#nav:after {
		content: '© Genius Division. All Rights Reserved';
		text-align: center;
		color: #fff;
		text-shadow: none;
		font-size: 10px;
	}
}





/*------------------------------------*\
	$ANIMATION STUFF
\*------------------------------------*/
@include keyframe(fade){
	from {
    	opacity:0;
    }

    to {
    	opacity:1;
    }
}

@include keyframe(fadeUp){
	from {
    	opacity:0;
    	@include vendor(transform, translateY(20px));
    }

    to {
    	opacity:1;
    	@include vendor(transform, translateY(0px));
    }
}